# Ignore node_modules, as they will be installed in the container
node_modules

# Ignore local development files
.env
nodemon.json
npm-debug.log

# Ignore git and docker files
.git
.gitignore
Dockerfile
.dockerignore 